<f:comment>
    INFO: removed original content from bootstrap  (for help see: Kursvideo 04.20)
</f:comment>

<section class="section footer-section footer-section-meta">
    <div class="frame frame-background-none frame-space-before-none frame-space-after-none">
        <div class="frame-container">
            <div class="frame-inner">
                <div class="footer-meta" data-module="footer-metanav">
                    <f:cObject typoscriptObjectPath="lib.metanav"/>
                </div>
            </div>
        </div>
    </div>
</section>
</html>
