//
// Textpic and Textmedia
//

.textmedia-text,
.textpic-text {
    > *:last-child {
        margin-bottom: 0;
    }
}
.textmedia-gallery,
.textpic-gallery {
    margin-bottom: $spacer;
}

//
// Alignments
//
.textmedia-centered,
.textpic-centered {
    align-items: center;
}
.textmedia-below,
.textpic-below {
    .textmedia-text,
    .textpic-text {
        order: 0;
        margin-bottom: $spacer;
    }
    .textmedia-gallery,
    .textpic-gallery {
        margin-bottom: 0;
    }
}
@include media-breakpoint-up('md') {
    .textmedia-right,
    .textmedia-left,
    .textpic-right,
    .textpic-left {
        .textmedia-item,
        .textpic-item {
            margin-bottom: 0;
            width: 30%;
        }

        .textpic-text {
            width:50%;
        }
    }

    .textpic-right {
        .textpic-text {
            margin-left: 10%;
        }
    }

    .textmedia-right,
    .textpic-right {
        .textmedia-gallery,
        .textpic-gallery {
            order: 2;
        }
    }
}
